<app-navbar></app-navbar>

<div class="container main-container">
    <h1 class="text-center">DemoApp</h1>
    <p>
        Aplicación de demostración para el marco de trabajo que usa Spring Boot y Angular
    </p>
    Las tecnologías utilizadas son
    <ul>
        <li>Java 1.8+</li>
        <li>Spring Boot</li>
        <li>Angular 8</li>
    </ul>
    Referencias
    <ul>
        <li><a href="https://spring.io/guides/tutorials/spring-security-and-angular-js">Spring Security and Angular</a></li>
        <li><a href="https://angular.io/guide/router">Angular Routing & Navigation</a></li>
        <li><a href="https://jwt.io/"></a>JWT.IO</li>
        <li><a href="https://blog.angular-university.io/angular-jwt-authentication/">Angular Security - Authentication With JSON Web Tokens</a></li>
    </ul>
</div>
